<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
</head>
<style>
    *{margin:0 auto; padding:0;}
    form{width:300px; height:200px;margin-top:200px;}
    input{float:right;}
</style>
<body>
  <form action="/join" method="POST" >
    id: <input type="text" name="id">
    <br>
    password: <input type="password" name="password">
    <br>
    name: <input type="text" name="name">
    <br>
    <input type="submit" value="가입">
  </form>
</body>
</html>